@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001931;
  --color-secondary: teal;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.gradient {
  background: linear-gradient(90deg, #632ee3, #9f62f2);
}
.gradient-primary {
  background: linear-gradient(90deg, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(to right, #e7e5e4 1px, transparent 1px),
    linear-gradient(to bottom, #e7e5e4 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 0 0;
  mask-image: repeating-linear-gradient(
      to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    );
  -webkit-mask-image: repeating-linear-gradient(
      to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
  pointer-events: none; /* Allows clicks to pass through */
}

.button-primary {
  @apply bg-gradient-to-r from-[#632ee3] to-[#9f62f2] text-white border-none;
}
.button-primary:hover {
  @apply bg-gradient-to-r from-[#9f62e3] to-[#7a45e8] text-white;
}
