@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.gradient-primary {
  background: linear-gradient(90deg, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
